<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'common.title'|trans }}{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{{ 'common.title'|trans }}{% endblock %}">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/ico">

    {# Block de tout les css #}
    {% block stylesheets %}

        {# Block des librairies css externe #}
    {% block stylesheets_lib %}
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

        {# Block des librairies css du thème #}
        {% block current_stylesheet %}{% endblock %}
        <link href="{{ asset('css/app.css') }}" rel="stylesheet">

    {% endblock %}

</head>
<body {% block body_class %}class="page-template-default page page-id-576 pmpro-body-has-access"{% endblock body_class %}>

{% block header %}
    {% include 'app/common/_header.html.twig' %}
{% endblock header %}

{% block body %}
    <main id="main"{% block main_class %}{% endblock main_class %}>
        {% block full_container %}
            <div id="main-content">
                {# Block du template avant le contenant #}
                {% block container_before %}
                    <div class="page-header text-center">
                        <div class="mask"></div>
                        <div class="page-header-bg-1 page-header-bg"></div>
                        <div class="page-header-inner page-header-inner-1">
                            <div class="wrapper">
                                <h1 class="page-title">
                                    {% block page_title %}{% endblock %}
                                </h1>
                                {% block breadcrumb %}
                                    {{ knp_menu_render('AppBundle:AppBuilder:breadcrumb', {'template':'app/common/_breadcrumb.html.twig','currentClass': 'active'}) }}
                                {% endblock breadcrumb %}
                            </div>
                        </div>
                    </div>
                {% endblock container_before %}
                {% block container %}
                    <div class="wrapper clearfix">
                        <section class="elements-box">
                            {% block content %}
                            {% endblock %}
                        </section>
                    </div>
                {% endblock container %}
                {# Block du template après le contenant #}
                {% block container_after %}{% endblock container_after %}
            </div>
        {% endblock  full_container %}
    </main>
{% endblock body %}

{# Block du template de l'entête de page #}
{% block footer %}
    {% include 'app/common/_footer.html.twig' %}
{% endblock %}

{# Block pour les librairies javascript externe#}
{% block script_lib %}{% endblock script_lib %}

{# Block pour la librairie du thème javascript #}
{% block current_script %}
    <script src="{{ asset('js/app.min.js') }}"></script>
{% endblock %}

{# Block du js d'une vue en particulier #}
{% block view_js %}{% endblock view_js %}

</body>
</html>
