<header id="header">
    <div id="kopa-page-header">
        <div id="kopa-header-top">
            <div class="outer clearfix">
                <div id="logo-image" class="pull-left">
                    <a href="{{ path('homepage') }}">
                        <img src="{{ asset('img/logo.png')|imagine_filter('header_logo') }}"
                             alt="{{ 'common.title'|trans }}">
                    </a>
                </div>
                <div id="kopa-header-top-inner" class="pull-left">
                    <div class="clearfix">
                        <div class="left-col pull-left line-divider clearfix">
                            <ul class="social-links pull-right clearfix">
                                <li>
                                    <a href="https://www.facebook.com/HitMakerNation/" target="_blank"
                                       title="{{ 'common.social_network.facebook'|trans }}"
                                       class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/HitMakerNation" target="_blank"
                                       title="{{ 'common.social_network.twitter'|trans }}" class="fa fa-twitter">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCb99Tach_Xwb0sp75O_fI5A?sub_confirmation=1"
                                       target="_blank" title="{{ 'common.social_network.twitter'|trans }}"
                                       class="fa fa-youtube"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-col line-divider pull-left">
                            {% if app.user is not null %}
                                <a class="signin-button" href="{{ path('fos_user_profile_show') }}">
                                    {{ 'app.menu.account'|trans }}
                                </a>
                                <a class="reg-button" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'app.menu.logout'|trans }}
                                </a>
                            {% else %}
                                <a class="signin-button" href="{{ path('fos_user_security_login') }}">
                                    {{ 'app.menu.login'|trans }}
                                </a>
                                <a class="reg-button" href="{{ path('fos_user_registration_register') }}">
                                    {{ 'app.menu.register'|trans }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="clearfix">
                        <div class="left-col pull-left clearfix">
                            <div class="search-box clearfix">
                                <form action="{{ path('homepage') }}" class="search-form pull-left clearfix">
                                    <input placeholder="Search..." type="text" value="" name="s" id="s"
                                           class="search-text">
                                    <button type="submit" class="search-submit"><i class="fa fa-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="right-col pull-left">
                            <a class="shopping-cart-button clearfix" href="https://hitmakernation.com/cart">
                                <i class="fa fa-shopping-cart pull-left"></i>
                                <span class="pull-left">
											0 items - <span class="woocommerce-Price-amount amount">0,00<span
                                                class="woocommerce-Price-currencySymbol">€</span></span>										</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="kopa-header-bottom">
            <div class="outer clearfix">
                <nav id="main-nav">
                    {{ knp_menu_render('AppBundle:AppBuilder:mainMenu', {'template': 'app/menu/main.html.twig','currentClass': 'active'}) }}
                </nav>
            </div>
        </div>
    </div>
</header>
